%h1
  = t('views.clients.list_of_clients')

- @clients.each do |c|
  %p.mt-1
    = c.id
    = c.name
    = link_to(t('actions.view'), c)
    = link_to(t('actions.delete'), c, method: :delete, data: { confirm: 'Are you sure?'})
